body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

.button-list {
    list-style-type: none;
    background: #555;
    padding: 0;
    margin: 0;
}

.button-list li {
    display: inline;
}

.button-list a {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.button-list a:hover {
    background-color: #777;
}

main {
    padding: 20px;
}

img{
    padding:15px 10px;
    margin: 5px;
    height: 360px;
    
}
h2{
    top: 10px;
    height: 20px;
    padding-left: 32%;
    border-top: 30px;   
    color: #0044cc;
    text-decoration: solid, arial;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.h2 {
    display: flex;
}

.texto2 {
    display: block;
}